* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
}

h1 {
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
}

#grid {
    display: grid;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

/* attach the footer at the bottom */
footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

small, a {
    padding: .5rem;
}

a {
    text-decoration: none;
    color: black;
}